/* Webfont: Lato-Black */@font-face {
    font-family: 'LatoWebBlack';
    src: url('../fonts/Lato-Black.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Black.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Black.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


/* Webfont: Lato-Bold */@font-face {
    font-family: 'LatoWebBold';
    src: url('../fonts/Lato-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Bold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Lato-Regular */@font-face {
    font-family: 'LatoWeb';
    src: url('../fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}




body {
    font-family: 'LatoWeb';
    background-color: #f9f9f9;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

p {
    margin-bottom: 8px;
}

h5 {
    color: #7E459B;
    padding-bottom: 20px;
}

a {
  color: #000000;
  margin: 0;
  text-decoration: none !important;
  -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}
a:hover {
    color: #7E459B;
}

ul {
  list-style-type: none;
  padding: 0;
}

.btn-purple {
    align-items: center;
    background-color: #7E459B;
    border-radius: 15px;
    color: #ffffff;
    display: flex;
    font-size: 14px;
    font-weight: bold;
    justify-content: center;
    margin: auto;
    padding: 12px 15px;
    text-transform: uppercase;
    width: 190px;
    -webkit-box-shadow: 9px 12px 11px -5px rgba(212,212,212,0.55);
    -moz-box-shadow: 9px 12px 11px -5px rgba(212,212,212,0.55);
    box-shadow: 9px 12px 11px -5px rgba(212,212,212,0.55);
}
.btn-purple:hover {
  background-color: #ffffff;
  color: #7E459B;
  border-color: #7E459B;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}
button:focus {
  outline:0;
}

footer {  
    clear: both;
    display: flex;
    justify-content: space-around;
    padding: 5% 12% 2% 6%;
}
@media only screen and (max-width: 768px)  {
    footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
  }
}
footer>div>h3 {
    font-family: 'LatoWebBlack';
    line-height: 80px;
    font-size: 70px;
    letter-spacing: 0.625px;
    width: 440px;
    margin: 0;
    padding-left: 22%;
}
@media only screen and (max-width: 768px)  {
  footer>div>h3 {
  padding-left: 0;
  padding-bottom: 15%;
  text-align: center;
  }
}
@media only screen and (max-width: 414px)  {
  footer>div>h3 {
  font-size: 68px;
  line-height: 75px;
  width: 300px;
  text-align: center;
  }
}
.underline--footer {
  background-repeat: repeat-x;
}
.underline--footer {
  background-image: url("../img/risco.png");
  background-size: 335px 140px;
}
@media only screen and (max-width: 414px)  {
  .underline--footer {
    background-image: url("assets/img/risco.png");
    background-size: 240px 145px;
  }
}

.logo-footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-fluid {
    padding: 0;
}
.row {
    margin: 0;
}

.bold {
    font-weight: bold;
}
.bigger {
    font-size: 24px;
}

.navbar{
    padding: .5rem 4rem;
}
@media only screen and (max-width: 414px)  {
    .navbar{
        padding: .5rem 1rem;
    }
}

.navbar-brand>img {
    width: 200px;
    margin-left: 80px;
}
@media only screen and (max-width: 768px)  {
    .navbar-brand>img {
        margin-left: 0;
    }
}

.navbar-nav {
    width: 100%;
    justify-content: flex-end !important;
    align-items: center;
    padding: 2% 2% 2% 0;
}
.nav-item, .nav-item>a {
    color: #ffffff;
    font-size: 16px;
}

@media (min-width: 992px) {
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2rem;
    padding-left: 2rem;
    }
}

.header {
    width: 400px;
    padding: 140px 0 50px 0;
}
@media only screen and (max-width: 414px)  {
    .header {
        display: none;
    }
}

.header-mobile {
    display: none;
}
@media only screen and (max-width: 414px)  {
    .header-mobile {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 300px;
    }
}

@media only screen and (max-width: 414px)  {
    .col-extra {
        display: none !important;
    }
}

.header-col>div>h1 {
    font-family: 'LatoWebBlack';
    font-size: 70px;
    padding-top: 140px;
}
@media only screen and (max-width: 768px)  {
    .header-col>div>h1 {
    font-size: 45px;
    padding-top: 220px;
    }
}
@media only screen and (max-width: 414px)  {
    .header-col>div>h1 {
    padding-top: 50px;
    text-align: center;
    }
}
.header-col>div>h2 {
    font-size: 20px;
    line-height: 30px;
    padding-top: 105px;
}
@media only screen and (max-width: 768px)  {
    .header-col>div>h2 {
    font-size: 18px;
    line-height: 30px;
    padding-top: 60px;
    }
}
@media only screen and (max-width: 414px)  {
    .header-col>div>h2 {
    padding-top: 40px;
    text-align: center;
    }
}

.info-section, 
.info-sec-section {
    padding: 90px 9% 30px 9%;
}
@media only screen and (max-width: 414px)  {
    .info-section {
        padding: 65px 4% 25px 4%;
        text-align: center;
    }
    .info-sec-section {
        padding: 35px 4% 10px 4%;
        text-align: center;
    }
}

.info-title {
    font-size: 20px;
}
@media only screen and (max-width: 414px)  {
    .info-title {
        font-size: 24px;
        font-weight: bold;
    }
}

.icons {
    width: 130px;
    padding-top: 20px;
}

.icons-editores {
    width: 100px;
    padding: 30px 0;
}

.icon-column {
    margin: 10px 50px 0 50px;
    width: 200px;
}
@media only screen and (max-width: 414px)  {
    .icon-column {
        margin: 20px 50px 20px 50px;
        width: 200px;
    }
}

.icon-description {
    text-align: center;
    padding-top: 10px;
}

.icons-footer,
.icons-footer>a>i {
    font-size: 30px;
    padding-top: 30px;
}

.icon-title {
    font-family: 'LatoWebBold';
    font-size: 24px;
    padding-top: 20px;
    text-align: center;
}

.card {
    width: 260px;
    margin: 15px;
    -webkit-box-shadow: 9px 12px 11px -5px rgba(212,212,212,0.55);
    -moz-box-shadow: 9px 12px 11px -5px rgba(212,212,212,0.55);
    box-shadow: 9px 12px 11px -5px rgba(212,212,212,0.55);
}
.card-body {
    padding: 2.25rem;
}
.card-text {
    padding-bottom: 20px;
}
.card-comeco {
    width: 360px;
}
.card-pratica {
    width: 450px;
}
.card-pratica>div>a>button {
    margin-top: 30px;
}
.space-top {
    padding-top: 100px;
}
.title-purple {
    font-size: 24px;
    color: #7E459B;
}
.info-comeco {
    padding: 0px 9% 50px 9%;
}
@media only screen and (max-width: 414px)  {
    .info-comeco {
        padding: 0px 4% 30px 4%;
        text-align: center;
    }
}

.info-editores-cloud {
    padding: 100px 9% 30px 9%;
}


.table {
    width: 80%;
}
@media only screen and (max-width: 414px)  {
    .table {
        width: 100%;
    }
}

.img-sobre {
    width: 300px;
    margin: 50px 0;
}
@media only screen and (max-width: 1024px)  {
    .img-sobre {
    width: 270px;
    margin: 10px;
    }
}
@media only screen and (max-width: 768px)  {
    .img-sobre {
    width: 205px;
    margin: 40px 0 40px;
    }
}
@media only screen and (max-width: 766px)  {
    .img-sobre {
    width: 320px;
    margin: 40px 0 40px;
    }
}


.contact {
    padding-left: 8%;
}
.contact>div {
    padding: 15px 0;
}
.contact>div>p {
    display: flex;
    align-items: center;
    margin: 0;
}

i {
    color: #7E459B;
    font-size: 50px;
    padding: 0 30px;
}