*{
    font-size: 1.5rem;
}
header {
    background-color: #7e459b;
    color:white;
}
header ul{
    display: inline-block;
}
header ul li{
    display:inline-block ;
    
}
.secao {
    color: blue;
}














